<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.phonegap.adobe-creative-sdk-foundation"
      version="0.2.0">

    <name>CreativeSDK</name>
    <description>Adobe Creative SDK Foundation PhoneGap Plugin</description>
    <license>TODO</license>
    <keywords>adobe creative sdk foundation</keywords>
    <repo>https://github.com/phonegap/adobe-creative-sdk-foundation.git</repo>
    <issue></issue>

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
			<feature name="AdobeCreativeSDKFoundation">
				<param name="ios-package" value="PGAdobeCreativeSDKFoundation"/>
			</feature>
        </config-file>

        <js-module src="www/adobe-creative-sdk-foundation.js" name="adobe-creative-sdk-foundation">
            <clobbers target="window.AdobeCreativeSDKFoundation" />
        </js-module>

		<header-file src="src/ios/PGAdobeCreativeSDKFoundation.h" />
		<header-file src="src/ios/NSObject+PropertiesAsDictionary.h" />        
		<header-file src="src/ios/NSArray+ItemAsDictionary.h" />        
		<source-file src="src/ios/PGAdobeCreativeSDKFoundation.m" />
		<source-file src="src/ios/NSObject+PropertiesAsDictionary.m" />
		<source-file src="src/ios/NSArray+ItemAsDictionary.m" />
		
		<resource-file src="src/ios/AdobeCreativeSDKFoundation.framework/Resources/AdobeCreativeSDKFoundationResources.bundle" />
		
		<framework src="src/ios/AdobeCreativeSDKFoundation.framework" custom="true" />
		<framework src="CoreMotion.framework" weak="true" />
		<framework src="CoreBluetooth.framework" weak="true" />
		<framework src="MobileCoreServices.framework" />
		<framework src="Security.framework" />
		<framework src="SystemConfiguration.framework" />
		<framework src="libc++.dylib" />

    </platform>

</plugin>
